@font-face{
    font-family: Abel;
    src: url(../fonts/Abel/Abel-Regular.ttf);
}
@font-face{
    font-family: Aton;
    src: url(../fonts/Anton/Anton-Regular.ttf);
}
@font-face{
    font-family: Josenfin_Sans;
    src: url(../fonts/Josefin_Sans/JosefinSans-Regular.ttf);
}
@font-face{
    font-family: Lexend_Deca;
    src: url(../fonts/Lexend_Deca/LexendDeca-Regular.ttf);
}
@font-face{
    font-family: Livvic;
    src: url(../fonts/Livvic/Livvic-Regular.ttf);
}
